:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

main {
  scrollbar-width: none;
}

#matrix-background {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  max-height: unset;
  max-width: unset;
  z-index: -99;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#video-attribution {
  font-size: 9px;
  opacity: 0.3;
  color: #ddd;
  position: fixed;
  bottom: 5px;
  left: 10px;
  z-index: -98;
}

#background-overlay {
  background-color: rgba(30, 41, 56, 0.5);
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -98;
}
