:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

main {
  scrollbar-width: none;
}

#matrix-background {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  max-height: unset;
  max-width: unset;
  z-index: -99;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: filter 0.3s ease;
}

:host-context(html:not(.dark)) #matrix-background {
  filter: invert(30%);
}

#video-attribution {
  font-size: 9px;
  opacity: 0.5;
  position: absolute;
  bottom: 132px;
  left: 6px;
  z-index: -98;
  color: #ddd;
}

:host-context(html:not(.dark)) #video-attribution {
  color: #3f3f3f;
}

#background-overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -98;
  transition: background-color 0.3s ease;
  background-color: rgba(30, 41, 56, 0.5);
}

:host-context(html:not(.dark)) #background-overlay {
  background-color: rgba(0, 112, 176, 0.59);
}
