:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.contact-button span,
.resume-button span,
.github-button span {
  transition: gap 0.3s ease;
}

.contact-button svg,
.resume-button svg,
.github-button svg {
  transition: width 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
}


:host-context(html:not(.dark)) .home-intro {
  color: var(--color-gray-300);
}

:host-context(html:not(.dark)) h1.home-heading {
  color: #0ee077;
}

:host-context(html:not(.dark)) h2.home-heading,
:host-context(html:not(.dark)) .home-tagline {
  color: var(--color-gray-300);
}

:host-context(html:not(.dark)) .home-buttons button,
:host-context(html:not(.dark)) .home-buttons a {
  border-color: #fff;
  color: #fff;
}

:host-context(html:not(.dark)) .home-buttons a:hover {
  color: #fff;
}

:host-context(html:not(.dark)) .home-buttons svg {
  stroke: white;
}
