a.desktop.nav-link-active {
  transform: translateY(3px);
  box-shadow:
    inset 0 2px 4px rgba(0, 0, 0, 0.7),
    0 1px 0 #00134c,
    0 2px 4px rgba(0, 0, 0, 0.3);
  background: linear-gradient(to b, #1f2937, #111827) !important;
}

a.desktop {
  display: inline-block;
  position: relative;
  transform: translateY(0);
  box-shadow:
    0 4px 0 #00134c,
    0 6px 8px rgba(106, 106, 106, 0.5);
}

a.desktop:active:not(.nav-link-active) {
  transform: translateY(2px);
  box-shadow:
    0 2px 0 #00134c,
    0 4px 6px rgba(0, 0, 0, 0.4);
}

/* Light Mode Styles */
:host-context(html:not(.dark)) a.desktop {
  background: #38a3d1 !important;
  box-shadow:
    0 4px 0 #0a78a8,
    0 6px 8px rgba(0, 0, 0, 0.5);
}

:host-context(html:not(.dark)) a.desktop:hover:not(.nav-link-active) {
  background: #3eb0d9 !important;
}

:host-context(html:not(.dark)) a.desktop:active:not(.nav-link-active) {
  transform: translateY(2px);
  box-shadow:
    0 2px 0 #0a78a8,
    0 4px 6px rgba(0, 0, 0, 0.4);
}

:host-context(html:not(.dark)) a.desktop.nav-link-active {
  background: #38a3d1 !important;
  transform: translateY(3px);
  box-shadow:
    inset 0 2px 4px rgb(17, 17, 17),
    0 1px 0 #000,
    0 2px 4px rgba(27, 27, 27, 0.63);
}

:host-content(html:not(.dark)) #mobile-menu-button:hover {
  color: black;
}

:host-context(html:not(.dark)) #mobile-menu a {
  color: oklch(27.8% 0.033 256.848);
  transition: background 100ms ease-in-out;

  &:hover {
    background: #1f638799;
    color: white;
  }
}
