#square-animation {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: absolute;
  top: 32px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.square {
  height: 64px;
  width: 64px;
  background: var(--primary-blue);
}
