@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";


/* Variables */
:root {
  --primary-blue: #2391b2;
  --site-background: #000;
}

/* Global Styles */
html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Inter', sans-serif;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
