@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";


/* Variables */
:root {
  --primary-blue: #2391b2;
  --site-background: #000;
}

/* Global Styles */
html,
body {
  height: 100%;
  margin: 0;
}

html {
  scrollbar-width: none;
}

body {
  font-family: 'Inter', sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Route Transition Animations */
@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 300ms;
  animation-name: fade-in;
}

::view-transition-old(root) {
  animation-name: fade-out;
}
